@import "tailwindcss";
@import "../tokens/tokens.css";
@import "../tokens/tokens.tailwind.css";
@import "../tokens/tokens.components.css";
@import "./typography.css";

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--color-surface-page);
  color: var(--color-text-headings);
  font-family: var(--inter-style-inter), sans-serif;
}