---
import Paragraph from "../typography/body/Paragraph.astro";
import Heading2 from "../typography/headings/Heading2.astro";
import Button from "../atoms/Button.astro";
import Image from "astro/components/Image.astro";
import AboutPhoto from "../../assets/image/about-photo.png";
---

<section class="bg-primary-800 my-25">
  <div class="max-w-[1220px] mx-auto py-20 flex relative">
    <div class="flex flex-col pw-full max-w-lg gap-16">
      <div class="flex flex-col gap-6">
        <Heading2 text="Hola, Soy \n Diego Moreno" align="left" />
        <Paragraph
          size="md"
          text="Soy psicólogo y he dedicado mi vida a acompañar procesos de sanación personal y colectiva. Mi experiencia en comunidades, víctimas del conflicto, interculturalidad y salud mental me enseñó que cada persona merece un espacio seguro para reconstruirse. Trabajo con sensibilidad, escucha profunda y respeto absoluto por tu historia."
          color="text-neutral-100"
        />
      </div>
      <div>
        <Button label="Conoce mi perfil completo" />
      </div>
    </div>
    <Image
      src={AboutPhoto}
      alt="Imagen de Diego Moreno"
      class="h-[110%] object-cover object-center absolute right-[0%] -top-[5%] transform rotate-6 border-8 border-primary-400"
    />
  </div>
</section>
