---
import Heading1 from "../typography/headings/Heading1.astro";
import Button from "../atoms/Button.astro";
---

<section class="bg-primary-700 my-25">
  <div class="max-w-[1220px] mx-auto py-20 flex flex-col relative gap-4">
    <Heading1 text="Suscríbete a nuestro boletín" align="left" />
    <div>
      <Button label="Suscribete"/>
    </div>
  </div>
</section>
