---
import Heading1 from "../typography/headings/Heading1.astro";
import Button from "../atoms/Button.astro";
---

<section class="bg-[linear-gradient(to_bottom,#1261AF,#04274B)] my-25">
  <div class="max-w-[1220px] mx-auto py-20 flex flex-col relative gap-16">
    <Heading1 text="Recibe herramientas de bienestar directamente en tu correo" align="left" />
    <div>
      <Button label="Suscribete" iconRight="icon-document" />
    </div>
  </div>
</section>
