---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import MainHero from "../components/sections/MainHero.astro";
import TargetSection from "../components/sections/TargetSection.astro";
import CertificatedBadge from "../components/molecules/badges/CertificatedBadge.astro";
import ServiceSection from "../components/sections/ServiceSection.astro";
import BenefitsSection from "../components/sections/BenefitsSection.astro";
import TestimonialSection from "../components/sections/TestimonialSection.astro";
import ContactSection from "../components/sections/ContactSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import SuscribeSection from "../components/sections/SuscribeSection.astro";
import Footer from "../components/Footer.astro";
import HowWorksSection from "../components/sections/HowWorksSection.astro";
import BlogSection from "../components/sections/BlogSection.astro";
import PackageSection from "../components/sections/PackageSection.astro";
import FAQSection from "../components/sections/FAQSection.astro";
import BannerSection from "../components/sections/BannerSection.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Navigation />
    <MainHero />
  <TestimonialSection />
  <!--TargetSection /-->
  <section id="services"><ServiceSection /></section>
  <HowWorksSection />
  <section id="blog"><BlogSection /></section>
  <!--BenefitsSection /-->
  <section id="about"><AboutSection /></section>
  <section id="pricing"><PackageSection /></section>
  <!--div>
    <SuscribeSection />
    <ContactSection />
  </div-->
  <section id="faq"><FAQSection /></section>
  <BannerSection />
  <Footer />
</Layout>
