---
const { text = "No setting text", align = "center", highlight } = Astro.props
---

<h2 class={`text-h2 header-h2 text-${align} whitespace-pre-line`}>
  {text}
  <span class="title-gradient span-header">
    {highlight}
  </span>
</h2>

<style>
  .header-h2 {
    font-size: var(--font-headings-h2-text-size);
    line-height: var(--font-headings-h2-line-height);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-headings);
  }
  .span-header {
    white-space: pre-line;
  }
</style>