---
const { text = "No setting text", align = "left", highlight } = Astro.props;
---

<h1 class={`text-h1 header-h1 text-7xl md:text-[90px] text-${align}`}>
  {text}
  <span class="title-gradient span-header">
    {highlight}
  </span>
</h1>

<style>
  .header-h1 {
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    color: var(--text-color-headings);
  }

  .span-header {
    white-space: pre-line;
  }
</style>
