---
import Paragraph from "./typography/body/Paragraph.astro";
import navigationData from "../data/navigationData.json";
import TextLink from "./atoms/TextLink.astro";
---

<footer class="relative flex flex-col w-full max-w-[1420px] mx-auto text-white py-8 mb-10 gap-8">
  <div class="relative flex justify-between">
    <p>Logo</p>
    <ul class="absolute left-0 right-0 flex gap-8 justify-center align-center">
      {
        navigationData.map((link) => (
          <li>
            <TextLink
              href={link.url}
              content={link.title}
              classes="text-[rgb(250,248,245)] font-light"
            />
          </li>
        ))
      }
    </ul>
    <p>Redes Sociales</p>
  </div>
  <div class="container mx-auto px-4 text-center">
    <Paragraph
      size="md"
      text="© 2025 Diego Moreno. Todos los derechos reservados."
      align="center"
    />
  </div>
</footer>
