---
import navigationData from "../data/navigationData.json";
import TextLink from "./atoms/TextLink.astro";
import Button from "./atoms/Button.astro";
---

<div class="container-navigation">
  <nav class="backdrop-blur-md">
    <a href="/" class="logo">PSICOSOFÍA</a>

    <div class="flex gap-12 items-center justify-center">
      <ul class="flex gap-8 justify-center align-center">
        {
          navigationData.map((link) => (
            <li>
              <a href={link.url} class="navigation-link">
                {link.title}
              </a>
            </li>
          ))
        }
      </ul>

      <Button
        label="Reserva tu sesión"
        variant="solid"
        size="md"
      />
    </div>
  </nav>
</div>

<style>
  .container-navigation {
    background-color: var(--color-surface-page);
    border-bottom: 1px solid var(--color-border-disabled-press);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
  }

  .container-links {
    display: flex;
    gap: var(--spacing-400);
    justify-content: center;
    align-items: center;
  }

  .navigation-link {
    color: var(--color-text-headings);
    font-weight: 400;
    font-size: var(--font-size-md);
    line-height: var(--font-body-line-height);
  }

  nav {
    width: 100%;
    max-width: 100rem;
    padding: var(--spacing-400) var(--spacing-800);
    display: flex;
    z-index: 50;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: var(--);
    font-weight: bold;
    color: var(--color-text-headings);
  }
</style>
