---
import IconSvg from "../../components/atoms/IconSvg.astro";
---

<div class="flex gap-1">
  <IconSvg name="icon-star-filled" size={20} stroke="none"/>
  <IconSvg name="icon-star-filled" size={20}  stroke="none"/>
  <IconSvg name="icon-star-filled" size={20} stroke="none" />
  <IconSvg name="icon-star-filled" size={20} stroke="none" />
  <IconSvg name="icon-star-filled" size={20} stroke="none" />
</div>