---
import Image from "astro/components/Image.astro";
import avatar from "../../assets/image/testimonials/avatar.png";
import avatar2 from "../../assets/image/testimonials/avatar2.png";
import avatar3 from "../../assets/image/testimonials/avatar3.png";
---

<div
  class="flex text-[rgb(255,255,255)] pl-4 pr-8 py-4 rounded-full font-medium"
>
  <div class="flex items-center w-30">
    <Image
      src={avatar}
      alt="Avatar"
      class="w-11 h-11 rounded-full border-2 z-10"
    />
    <Image
      src={avatar2}
      alt="Avatar"
      class="w-11 h-11 rounded-full border-2 transform -translate-x-[30%] z-9"
    />
    <Image
      src={avatar3}
      alt="Avatar"
      class="w-11 h-11 rounded-full border-2 transform -translate-x-[60%] z-8"
    />
  </div>

  <div class="flex flex-col text-left">
    <p class="font-extrabold">+50 clientes satisfechos.</p>
    <!--p>★★★★★</p-->
    <p class="font-thin">Unete y comencemos a transformar tu vida.</p>
  </div>
</div>
